@import "../../stylesSettings/_variables";
@import "../../assets/fonts/_fonts";
@import "../../stylesSettings/keyframes";

.recovery {
  background-color: $light;
  height: calc(100vh - 11.9rem);

  .block__wrapper {
    @include flex-center;
    flex-direction: column;
  }

  &__title {
    font-size: $f30;
    font-family: $ltb;
    align-self: center;
    margin: 4rem 0;
  }

  &__hint{
    font-size: $f12;
    font-family: $lt;
    color: $red;
  }

  .nav{
    align-self: center;
  }
}