@import "../../../stylesSettings/_variables";
@import "../../../assets/fonts/_fonts";
@import "../../../stylesSettings/keyframes";

.updateuser-wrapper{
  background-color: red;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}