@import "../../stylesSettings/reset";
@import "../../stylesSettings/_variables";
@import "../../assets/fonts/_fonts";
@import "../../stylesSettings/keyframes";

.infotile {
    display: flex;
    align-items: center;
    @include dis-flex(flex-start, flex-start);
    font-family: $ltb;
    font-size: $f16;
    margin: .5rem 0;
    flex-wrap: wrap;

    &__info {
        margin-left: 1rem;
        font-family: $lt;
        font-size: $f18;
    }
}
