@import "../../../../stylesSettings/_variables";
@import "../../../../assets/fonts/_fonts";
@import "../../../../stylesSettings/keyframes";

.updateload {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
}
