@import "../../stylesSettings/reset";
@import "../../stylesSettings/_variables";
@import "../../assets/fonts/_fonts";
@import "../../stylesSettings/keyframes";

.user__wrapper {
    @include dis-flex(space-around, center);
    padding: 3rem 0;
    border-bottom: 1px solid rgba($color: $light-grey, $alpha: .5) ;
}

.user {
    &__profile {
        @include dis-flex(center, stretch);
        flex-direction: column;
        width: 100%;
    }

    &__role {
        text-align: center;
        margin: 5rem 0;
        font-size: $f24;
    }

    &__info {
        position: relative;
    }

    &__descr {
        font-size: $f18;
        font-family: $lt;
        text-decoration: underline;
    }

    &__panel {
        margin: 2rem 0 0 0;
    }

    &__button {
        padding: 1rem 2rem;
        border-radius: 5rem;
        font-size: $f14;
        outline: none;

        &:hover {
            background-color: $red;
            transition: all 0.3s ease-in-out;
            color: $white;
        }

        &:focus {
            outline: 0;
        }
    }
}
