@import "../../stylesSettings/_variables";
@import "../../stylesSettings/_keyframes";
@import "../../assets/fonts/_fonts";

.footer {
  background-color: $light-black;
  padding: 1rem 0;
  height: 5rem;

  .block__wrapper {
    @include flex-center;
    @include dis-flex(space-between, center);
  }

  &__rights {
    font-family: $lt;
    color: $light;
    font-size: $f14;
  }

  &__link {
    color: $light;

    &:hover {
      cursor: pointer;
    }
  }
}
