@import "../../../stylesSettings/_variables";
@import "../../../assets/fonts/_fonts";
@import "../../../stylesSettings/keyframes";

.user__avatar {
    @include basic(20rem, 20rem);
    border-radius: 50%;
    background-position: center;
    background-size: cover;

    &-wrapper {
        @include flex-center;
        flex-direction: column;
    }
}
